@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the Quill editor to ensure it fits the design */
.ql-toolbar {
    border-top-left-radius: 0.375rem; /* rounded-md */
    border-top-right-radius: 0.375rem; /* rounded-md */
    border-color: #D1D5DB; /* border-gray-300 */
}

.ql-container {
    border-bottom-left-radius: 0.375rem; /* rounded-md */
    border-bottom-right-radius: 0.375rem; /* rounded-md */
    border-color: #D1D5DB; /* border-gray-300 */
    min-height: 200px;
    font-size: 1rem;
}

